body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .maincont {
    position: fixed;
    top: auto;
    left: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .clockcont {
    position:absolute;
    background-image: url(../img/clock2.png);
    box-sizing: border-box;
    width: 98vmin;
    height: 98vmin;
    background-size: 100%;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hour,
  .min,
  .sec {
    border-radius: 50px 50px 1000% 1000%;
    background-color: black;
    position: absolute;
    transform-origin:top;
    top: 49vmin;
    left: 49vmin;
  }

  #hour {
 /* display: none; */
    width: 1.5vmin;
    height: 21vmin;
    top: 48.25vmin;
    left:48.25vmin;
    transform: rotate(0deg);
  }

  #min {
  
    /* display: none; */
    width: 1vmin;
    height: 29vmin;
    top: 48.5vmin;
    left:48.5vmin;
  }
  #sec {
    /* display: none; */
    width: 0.6vmin;
    height: 28vmin;
    top: 48.7vmin;
    left:48.7vmin;

  }

  .dot {
    /* position: absolute; */
    /* padding: 0; */
    /* margin: 0; */
    /* color: red; */
    /* top: calc(50% - 2.5vmin); */
    /* left: calc(50% - 2.5vmin); */
    background-color: black;
    width: 5vmin;
    height: 5vmin;
    border-radius: 50%;
  }